<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp - Login</title>
  </head>
  <header>
  <%- include('partials/_header.ejs')  %>
  </header>
  <body>
    <div class="col-md-4">
   <h2>Login</h2>
    <form action="/urls/login" method="POST"> 
        <label for="email" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" placeholder="Enter Email">
      </div>
      <div class="col-md-4">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </body>
</html>